N_PLAYERS_TEAM=6
N_PLAYERS_PUSHING=3
N_TRIALS=6
N_GAMES=3
KNOCKOUT_DIF=1200

CONFIG_HOST_NAME=127.0.0.1
CONFIG_PORT_NUM=9120

REPO_HOST_NAME=127.0.0.1
REPO_PORT_NUM=9121

REFSITE_HOST_NAME=127.0.0.1
REFSITE_PORT_NUM=9122

BENCH_HOST_NAME=127.0.0.1
BENCH_PORT_NUM=9123

PLAYG_HOST_NAME=127.0.0.1
PLAYG_PORT_NUM=9124


REFEREE_HOST_NAME=127.0.0.1
COACH_HOST_NAME=127.0.0.1
CONTESTANT_HOST_NAME=127.0.0.1

LOG_FILE_NAME=RopeGame.log
