N_PLAYERS_TEAM=500
N_PLAYERS_PUSHING=3
N_TRIALS=60
N_GAMES=4
KNOCKOUT_DIF=1200

CONFIG_HOST_NAME=l040101-ws01
CONFIG_PORT_NUM=22239

REPO_HOST_NAME=l040101-ws02
REPO_PORT_NUM=22230

REFSITE_HOST_NAME=l040101-ws03
REFSITE_PORT_NUM=22231

BENCH_HOST_NAME=l040101-ws04
BENCH_PORT_NUM=22232

PLAYG_HOST_NAME=l040101-ws06
PLAYG_PORT_NUM=22233


REFEREE_HOST_NAME=l040101-ws07
COACH_HOST_NAME=l040101-ws08
CONTESTANT_HOST_NAME=l040101-ws09

LOG_FILE_NAME=RopeGame.log

